<!DOCTYPE html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href =>"css/bootstrap.min.css", :rel=>"stylesheet", :media => "screen"}/
    %link{:href =>"css/wikirank.css", :rel=>"stylesheet", :media => "screen"}/
  %body
    .container
      .hero-unit
        %h1 The <i>Amazing</i> Influence Machine
        %p Enter two things below:

        %input.influencePicker.first-object{:type => "text", :placeholder => "Thing One"}/
        %br/
        %input.influencePicker.second-object{:type => "text", :placeholder => "Thing Two"}/
        %br/

      .row

      .influenceResults
        %p.muted
          The <i>amazing</i> machine has determined that...

        %p.influencer.influencerFirst <strong>Steve Jobs</strong> is
        .influenceResultsRatio
          <strong>3x</strong> more
        %p.influencer.influencerSecond influential than <strong>Margret Atwood</strong>

        .row
        .span6
          .influence1Stats
      .span6
        .influence2Stats

      .influenceLoader
        .spinner
      .influenceLoaderText
        Computalizing

    %footer
      %p &copy; Thomas Dimson 2013

    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/typeahead.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/wikirank.js"></script>
